.home {
  .home-title {
    padding: 16px 0 8px;
    background-color: burlywood;
    border-bottom: 8px solid darken(burlywood, 30%);

    h1 {
      font-size: 24px;
      color: white;
    }
  }

  .row-title {
    margin: 16px auto;
    font-size: 22px;
  }
}
